@model FamilyTree.Models.Person

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@{ Html.BeginForm("Details", "Person"); }

@Html.AntiForgeryToken()
@Html.Hidden("PersonId", new Person().PersonId)
@Html.DropDownList("PersonDropDown", new SelectList(ViewBag.listofitems, "PersonId", "FullName"), "Select a person", new { @id = "PersonSelect", @class="form-control" })
<button type="submit" class="btn btn-primary">Submit</button>

@{ Html.EndForm(); }

@section Scripts{

    <script type="text/javascript">
        $(document).ready(() => {
            $("#PersonId").val($("#PersonSelect").val());

            $("#PersonSelect").change((event) => {
                $("#PersonId").val($("#PersonSelect").val());
            });
        });
    </script>

}
