@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Family Tree</h2>
        <a asp-area="" asp-controller="Person" asp-action="Index">View Person</a>
    </div>
</div>
